{% load static %}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/html">
<head>
<title>Art@Touch Online Shop</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Boat house Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smart phone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'assets/css/JiSlider.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome-icons -->
<link href="../static/assets/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{% static 'css2/style.css' %}" type="text/css" media="all" />
<link href="{% static 'css3/style.css' %}" rel="stylesheet" type="text/css" media="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

                  <style>
                      .card {
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                        transition: 0.3s;
                        width: 30%;


                      }

                      .card:hover {
                        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                      }

                      .container {
                        padding: 2px 16px;
                      }
                      html, body {
                        font-family: Verdana,sans-serif;
                        font-size: 15px;
                        line-height: .1;
}
                      </style>

</head>
<body style="background-colo:grey ;" >
<!-- header -->
<div class="banner-top">
	<div class="header">
	<div class="container">
			<div class="header-left">
                <h1><a class="navbar-brand" href="/"> ArT@ToUcH</a></h1>

				<!-- <div class="agileinfo-phone">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p><i class="fa fa-volume-control-phone" aria-hidden="true">123456789</i></p>
				</div>
				<div class="agileinfo-phone agileinfo-map">
					<p><i class="fa fa-map-marker" aria-hidden="true">Thrissur</i></p>
				</div> -->
				<!-- <div class="search-grid">
					<form action="#" method="post">
						<input type="text" name="subscribe" placeholder="Subscribe" class="big-dog" name="Subscribe" required="">
						<button class="btn1"><i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
				</div> -->
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>





        <div class="w3_navigation">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

							<span class="icon-bar"></span>
                        </button>
                        <!-- <h1><a class="navbar-brand" href="/"> OYASIS </a></h1> -->
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="menu menu--iris">
                            <ul class="nav navbar-nav menu__list">
								<li class="menu__item menu__item--current"><a href="/" class="menu__link">Home</a></li>
								<li class="menu__item menu__item"><a href="art_pro" class="menu__link">Profile</a></li>
								<li class="dropdown menu__item"><a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Work Uploads<b class="caret"></b></a>
									<ul class="dropdown-menu agile_short_dropdown">
										<li><a href="art_work" class="dropdown-item">Add Work</a></li>
										<li><a href="work_vw" class="dropdown-item">View All Works </a> </li>
									</ul>
								</li>
                                <li class="menu__item menu__item"><a href="a_pend" class="menu__link">Orders</a></li>
								<li class="menu__item menu__item"><a href="/view_reviews" class="menu__link">Reviews</a></li>


								<li class="menu__item menu__item"><a href="artist_out" class="menu__link">Log Out</a></li>
							</ul>
                        </nav>
                    </div>
                </nav>

            </div>
        </div>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

        <br><br><br><br>



<div class="w3-container row" >


            <div class="w3-white w3-hover-shadow col-sm-12 col-md-4" style="margin-left: 350px;height:380px;margin-top: 50px;">
                <div><br><br>

                        <img src="{{i.a_profilePic.url}}" height="50" width="40"><br><br><br><br>
                        <h2><b>{{i.a_name}}</b></h2><br><br>
                         <br><br><br><br><br><br>
                        <h4>Email               : {{i.a_email}}</h4><br><br><br>
                        <h4>Contact             : {{i.a_mobileNo}}</h4><br><br><br>
<!--                        <h4>Alternative Contact : {{i.a_alterNo}}</h4><br><br>-->
                        <h4>Username            : {{i.username}}</h4><br><br><br>
                        <h4>Address             : {{i.a_address}}</h4><br><br><br>
                        {% if r == "pending" %}
                        <h4>Status              :Pending</h4>
                        {% elif r == "rejected" %}
                        <h4>Status              :Rejected</h4>
                        {% else %}
                        <h4>Status              :Approved</h4>
                        {% endif %}
                        <br><br><br><br><br><br>

                        <button type="submit" style="width:200px;height:30px;"><a href="artp_updt">UPDATE</a></button>
                </div>
            </div>
</div>
</div>
<!-- js -->
<script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'assets/js/JiSlider.js' %}"></script>
    <script>
        $(window).load(function () {
            $('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
        })
    </script><script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-36251023-1']);
_gaq.push(['_setDomainName', 'jqueryscript.net']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
        <script src="{% static 'assets/js/jarallax.js' %}"></script>
<script src="{% static 'assets/js/SmoothScroll.min.js' %}"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>

<!-- start-smoth-scrolling -->
<!-- //for bootstrap working -->
<!-- stats -->
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.countup.js' %}"></script>
    <script>
        $('.counter').countUp();
    </script>
<!-- //stats -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{% static 'assets/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/easing.js' %}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".scroll").click(function(event){
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
    });
});
</script>
<!-- start-smooth-scrolling -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

        });
</script>
<!-- //here ends scrolling icon -->

<script type="text/javascript" src="{% static 'assets/js/bootstrap-3.1.1.min.js' %}"></script>
<script type="text/javascript">
$(window).load(function() {
$("#flexiselDemo1").flexisel({
    visibleItems:1,
    animationSpeed: 1000,
    autoPlay:false,
    autoPlaySpeed: 3000,
    pauseOnHover: true,
    enableResponsiveBreakpoints: true,
    responsiveBreakpoints: {
        portrait: {
            changePoint:480,
            visibleItems: 1
        },
        landscape: {
            changePoint:640,
            visibleItems:1
        },
        tablet: {
            changePoint:768,
            visibleItems: 1
        }
    }
});

});
</script>
<script type="text/javascript" src="{% static 'assets/js/jquery.flexisel.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>

</body>
</html>