<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Art@Touch : About</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'assets_user/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'assets_user/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{% static 'assets_user/css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static 'assets_user/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'assets_user/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'assets_user/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>

<body>
<!-- header -->
	<div class="agileits_header">
<!--		<div class="w3l_offers">-->
<!--			<a href="products.html">Today's special Offers !</a>-->
<!--		</div>-->
		<div class="w3l_search">
<!--			<form action="#" method="post">-->
<!--				<input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">-->
<!--				<input type="submit" value=" ">-->
<!--			</form>-->
		</div>
		<div class="product_list_header">
			<a href="checkout"><button class="btn btn-info">View Your Cart</button></a>
		</div>
		<div class="w3l_header_right">
			<ul>
				<li class="dropdown profile_details_drop">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
					<div class="mega-dropdown-menu">
						<div class="w3ls_vegetables">
							<ul class="dropdown-menu drp-mnu">
								<li><a href="user_pro">Profile</a></li>
								<li><a href="u_odr">My Order</a></li>
								<li><a href="user_out">Logout</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="w3l_header_right1">
			<h2><a href="mail.html">Contact Us</a></h2>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop();
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });

	});
	</script>
<!-- //script-for sticky-nav -->
	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<h1><a href="index.html"><span>Art@</span> Touch</a></h1>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					<li><a href="u_art">Artists</a><i>/</i></li>
					<li><a href="abt">About Us</a><i>/</i></li>
					<li><a href="abt">Art Work</a><i>/</i></li>
<!--					<li><a href="products.html">Best Deals</a><i>/</i></li>-->
<!--					<li class="dropdown mega-dropdown active">-->
<!--						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Art Works<span class="caret"></span></a><i>/</i>-->
<!--						<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">-->
<!--							<div class="w3ls_vegetables">-->
<!--								<ul>-->
<!--									<li><a href="vegetables.html">Modern Art</a></li><br>-->
<!--									<li><a href="vegetables.html">Pop Art</a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--						</div>-->
<!--					</li>-->
					<li><a href="revw">Review</a></li>
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>0481 2242024</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:art@touch.com">art@touch09.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- products-breadcrumb -->
	<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>|</span></li>
				<li>Artist</li>
			</ul>
		</div>
	</div>
	<div class="top-brands">
		<div class="container">
<!--			<h3>Art Works</h3>-->
			{% for i in artist %}
			<div class="agile_top_brands_grids">
				<div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
<!--							<div class="tag"><img src="{% static 'assets_user/images/tag.png' %}" alt=" " class="img-responsive" /></div>-->
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block" >
										<div class="snipcart-thumb">
											<a href="single/{{i.id}}"><img title=" " alt=" " src="{{i.a_profilePic.url}}" height="100" width="80"/></a>
											<form method="post" action="cart">
												{% csrf_token %}

												<p><b>{{i.a_name}}</b></p>
<!--												<p>{{i.work}}</p>-->
												<p>{{i.qualification}}</p>
<!--												<h4>{{i.price}} </h4>-->

<!--												<input type="hidden" name="item_id" value="{{i.id}}" />-->
<!--												<input type="hidden" name="work" value="{{i.work}}" />-->
<!--												<input type="hidden" name="work" value="{{i.work}}" />-->
<!--												<input type="hidden" name="description" value="{{i.description}}" />-->
<!--												<input type="hidden" name="price" value="{{i.price}}" />-->
<!--												<input type="submit"  value="View Work" class="button" />-->
											</form>
										</div>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


<script src="{% static 'assets_user/js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>

</body>
</html>