<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Art@touch Online Art Shop</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'assets_user/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'assets_user/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{% static 'assets_user/css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static 'assets_user/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->

<!-- //custom-theme -->
<link href="{% static 'assets_reg/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'assets_reg/js/jquery-2.1.4.min.js' %}"></script>

<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'assets_user/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'assets_user/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>

<body>
<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop();
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });

	});
	</script>
<!-- //script-for sticky-nav -->
<!-- header -->
	<div class="agileits_header">
<!--		<div class="w3l_offers">-->
<!--			<a href="products.html">Today's special Offers !</a>-->
<!--		</div>-->
		<div class="w3l_search">
			<form action="#" method="post">
				<input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
				<input type="submit" value=" ">
			</form>
		</div>
		<div class="product_list_header">
			<a href="checkout"><button>View Your Cart</button></a>
		</div>
		<div class="w3l_header_right">
			<ul>
				<li class="dropdown profile_details_drop">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
					<div class="mega-dropdown-menu">
						<div class="w3ls_vegetables">
							<ul class="dropdown-menu drp-mnu">
								<li><a href="user_pro">Profile</a></li>
								<li><a href="user_out">Logout</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="w3l_header_right1">
			<h2><a href="mail.html">Contact Us</a></h2>
		</div>
		<div class="clearfix"> </div>
	</div>
<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<h1><a href="index.html"><span>Art@</span> Touch</a></h1>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					<li><a href="events.html">Artists</a><i>/</i></li>
					<li><a href="abt">About Us</a><i>/</i></li>
					<li><a href="products.html">Best Deals</a><i>/</i></li>
					<li class="dropdown mega-dropdown active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Art Works<span class="caret"></span></a><i>/</i>
						<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
							<div class="w3ls_vegetables">
								<ul>
									<li><a href="vegetables.html">Modern Art</a></li><br>
									<li><a href="vegetables.html">Pop Art</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="revw">Review</a></li>
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>0481 2242049</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:art@touch09.com">art@touch09.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>|</span></li>
				<li>Review</li>
			</ul>
		</div>
	</div>
<center>
<div class="center-container">
	<div class="banner-dott">
		<div class="main">
<!--			<h1 class="w3layouts_head">Artist Registration Form</h1>-->
				<div class="w3layouts_main_grid">
					<form action="" method="post" class="w3_form_post" enctype="multipart/form-data">
						{% csrf_token %}
								<div class="w3_agileits_main_grid w3l_main_grid">
								<span class="agileits_grid">
									<label>Full Name : </label>
									<input type="text" name="a1" placeholder="First Name" required="">
								</span>
								</div>

								<div class="w3_agileits_main_grid w3l_main_grid">
								<span class="agileits_grid">
									<label>Your Email : </label>
										<input type="text" name="a2" placeholder="Your Email" required="">
								</span>
								</div>
								<div class="w3_agileits_main_grid w3l_main_grid">
								<span class="agileits_grid">
									<label>Category </label>
									<input type="radio" name="a3" value="complaint"  required="">Complaint
									<input type="radio" name="a3" value="feedback"  required="">Feedback
								</span>
								</div>
								<div class="w3_agileits_main_grid w3l_main_grid">
								<span class="agileits_grid">
									<label>Select Artist Name </label>
									<select name="a4">
										{% for i in artist %}
										<option value="{{i.a_name}}">{{i.a_name}}</option>
										{% endfor %}
									</select>
								</span>
								</div>
								<div class="w3_agileits_main_grid w3l_main_grid">
								<span class="agileits_grid">
									<label>Quality Of Work</label>
									<select name="a5">
										<option value="none" selected="" disabled="">Select Quality</option>
										<option value="Excellent" >Excellent</option>
										<option value="Good" >Good</option>
										<option value="Average" >Average</option>
									</select>
								</span>
								</div>
								<div class="w3_agileits_main_grid w3l_main_grid">
									<span class="agileits_grid">
										<label>Comments</label>
										<textarea name="a6" placeholder="Type your comments...."></textarea>
									</span>
								</div>

					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" value="Submit">
						</div>
					</div>
				</form>
			</div>
</center>
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<link rel="stylesheet" href="{% static 'assets_reg/css/jquery-ui.css' %}" />
				<script src="{% static 'assets_reg/js/jquery-ui.js' %}"></script>
					<script>
						$(function() {
							$( "#datepicker" ).datepicker();
						});
					</script>
</body>
</html>